<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find robeurre_description)/urdf/robot.urdf'"/>
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-s libgazebo_ros_factory.so"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -model my_robot -x 0 -y 0 -z 0 -Y 0" />
</launch>
